{% load static %}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <script type="module" src="{% static 'ninja/rapidoc-9.3.3-min.js' %}"></script>
    <title>{{ api.title }}</title>
</head>
<body>
<rapi-doc id="the-doc" spec-url="{{ openapi_json_url }}"></rapi-doc>
<script>
    window.addEventListener('DOMContentLoaded', (event) => {
        const rapidocEl = document.getElementById('the-doc');
        rapidocEl.addEventListener('before-try', (e) => {
            e.detail.request.headers.append('X-CSRFToken', "{{ csrf_token }}")
        });
    });
</script>
</body>
</html>