<!DOCTYPE html>
<html>
<head>
    <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swagger-ui-dist@4.15.5/swagger-ui.css">
    <link rel="shortcut icon" href="https://django-ninja.rest-framework.com/img/favicon.png">
    <title>{{ api.title }}</title>
</head>
<body>
    <div id="swagger-ui">
    </div>

    {% if extended_settings %}{{ extended_settings|json_script:"extendedSettings" }}{% endif %}
    <script src="https://cdn.jsdelivr.net/npm/swagger-ui-dist@4.15.5/swagger-ui-bundle.js"></script>
    <script>
        const extendedSettingsElement = document.getElementById('extendedSettings')
        const extendedSettings = extendedSettingsElement ? JSON.parse(extendedSettingsElement.textContent) : {};
        const ui = SwaggerUIBundle({
            url: '{{ openapi_json_url }}',
            dom_id: '#swagger-ui',
            presets: [
            SwaggerUIBundle.presets.apis,
            SwaggerUIBundle.SwaggerUIStandalonePreset
            ],
            layout: "BaseLayout",
        {% if add_csrf %}
            requestInterceptor: (req) => {
				req.headers['X-CSRFToken'] = "{{csrf_token}}"
				return req;
			},
        {% endif %}
            deepLinking: true,
            ...extendedSettings
        })
    </script>
</body>
</html>
