{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link type="text/css" rel="stylesheet" href="{% static 'ninja/swagger-ui.css' %}">
    <link rel="shortcut icon" href="{% static 'ninja/favicon.png' %}">
    <title>{{ api.title }}</title>
</head>
<body>

    <!--Hidden inputs for the swagger-bundle-handler-->
    <input type="hidden" value="{{ openapi_json_url }}" id="openapi_url">
    {% if api.csrf and csrf_token %}
    <input type="hidden" value="{{ api.csrf }}" id="api_csrf">
    <input type="hidden" value="{{ csrf_token }}" id="csrf_token">
    {% endif %}
    
    <div id="swagger-ui">
    </div>

    <script src="{% static 'ninja/swagger-ui-bundle.js' %}"></script>
    <script src="{% static 'ninja/swagger-bundle-handler.js' %}"></script>

</body>
</html>
