name: Full Test

on:
  push:
  pull_request:
    types: [assigned, opened, synchronize, reopened]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.6', '3.7', '3.8', '3.9', '3.10']
        django-version: ['<2.2', '<3.0', '<3.1', '<3.2', '<3.3', '<4.1', '==4.1rc1']

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install core
        run: pip install "Django${{ matrix.django-version }}" pydantic
      - name: Install tests
        run: pip install pytest pytest-asyncio pytest-django psycopg2-binary
      - name: Test
        run: pytest

  coverage:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.9
      - name: Install Flit
        run: pip install flit
      - name: Install Dependencies
        run: flit install --symlink
      - name: Test
        run: pytest --cov=ninja

  codestyle:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.9
      - name: Install Flit
        run: pip install flit
      - name: Install Dependencies
        run: flit install --symlink
      - name: Black
        run: black --check ninja tests
      - name: isort
        run: isort --check ninja tests
      - name: Flake8
        run: flake8 ninja tests
      - name: mypy
        run: mypy ninja
