name: Test Coverage

on:
  push:
    branches:
      - master

jobs:
  test_coverage:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v6
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.10'
      - name: Install Flit
        run: pip install flit "django>=5.1"
      - name: Install Dependencies
        run: flit install --symlink
      - name: Test
        run: pytest --cov=ninja --cov-report=xml tests
      - name: Coverage
        uses: codecov/codecov-action@v4.4.1
